.wrapper {
    padding-bottom: 70px;
}

.wrapper .switchTab {
    margin-top: 30px;
    margin-bottom: -5px;
    border-bottom: none;
    display: inline-block;
    width: 100%;
    padding: 0;
    z-index: 10;
}

.wrapper .switchTab li {
    background-color: #f9f9f9;
    border: none;
    text-align: center;
    border-top: 2px solid #000;
    list-style: none;
}

.wrapper .switchTab li:not(.active) {
    z-index: 1;
}

.switchTab>li>a {
    display: inline-block;
    width: 100%;
    border-right: 1px solid #ccc;
    border-bottom: 1px solid #ccc;
    border-radius: 0;
    padding: 20px 0px;
    margin-right: 0px;
    font-size: 18px;
    color: #000;
}

.switchTab>li:last-child>a {
    border-right: none;
}

.wrapper .switchTab li.active {
    border-top: 2px solid #1BC8C2 !important;
    background: #fff;
}

.wrapper .switchTab li.active,
.switchTab li.active a {
    color: #1BC8C2;
    font-weight: bold;
    border-bottom: none;
}

.wrapper .switchTab-noBorder {
    margin-top: 100px;
    border-bottom: none;
}

.wrapper .switchTab-noBorder li {
    background-color: #fcfcfc;
    border: none;
    text-align: center;
}

.top-navigation .nav>li.active a:hover {
    border: none;
    color: #000 !important;
}

.switchTab-noBorder>li>a {
    border: 1px solid #ccc;
    border-radius: 0;
    border-top: 0px;
    padding: 20px 0px !important;
    margin-right: 0px;
    margin: 0px -1px;
    font-size: 18px;
}

.wrapper .switchTab-noBorder li.active,
.switchTab-noBorder li.active a {
    color: #1BC8C2;
    border-bottom: none;
}

@media (max-width: 720px) {
    div.wrapper div ul.switchTab {
        margin-top: 0px;
    }
}
